<!DOCTYPE html>
<html>
<head>
  <title>TenPercentNews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav role='main navigation'>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Sign Up', signup_path %>
    <%= link_to 'Sign In', signin_path %>
  </nav>

  <%- if logged_in? %>
    <p>Hello, <%= current_user.first_name %></p>
  <% end %>

  <div id="flashes">
    <%- flash.each do |class_name, message| %>
      <div class="<%= class_name %>"><%= message %></div>
    <% end %>
  </div>

  <%= yield %>

</body>
</html>
